# git
.git
.github
.gitea

# development
.idea
.env
.env.*

# dependencies
.next
node_modules
/src/lib/prisma

# docker
.dockerignore
docker-compose.yml
docker-compose_deps.yml
Dockerfile

# others
README.md